---
import './feature-cards.css';

interface Feature {
  title: string;
  description: string;
}

interface Props {
  title: string;
  features: Feature[];
}

const { title, features } = Astro.props;
---

<section class="features container mt-3xl">
  <h2 class="section-title">{title}</h2>
  <div class="grid grid-4">
    {features.map((feature) => (
      <div class="card feature-card">
        <h3>{feature.title}</h3>
        <p>{feature.description}</p>
      </div>
    ))}
  </div>
</section>
